<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>淘淘商城后台管理系统</title>
    <link th:href="@{/js/jquery-easyui-1.4.1/themes/default/easyui.css}" rel="stylesheet"/>
    <link th:href="@{/js/jquery-easyui-1.4.1/themes/icon.css}" rel="stylesheet"/>
    <link th:href="@{/css/taotao.css}" rel="stylesheet"/>

<style type="text/css">
	.content {
		padding: 10px 10px 10px 10px;
	}
</style>
</head>
<body class="easyui-layout">
    <div region="north" split="true" border="false" style="background: #E0ECFF">
        <span style="float:right; padding-right:20px;" class="head">欢迎 <span id="username"></span><a href="#" id="loginOut">安全退出</a></span>
    </div>
    <div data-options="region:'west',title:'菜单',split:true" style="width:180px;">
    	<ul id="menu" class="easyui-tree" style="margin-top: 10px;margin-left: 5px;" >
         	<li th:each="m,iterStat : ${menu}">
         		<span th:text="${m.menuname}"></span>
         		<ul>
	         		<li th:each="m1,iter1:${m.menus}" th:text="${m1.menuname}" th:data-options="|attributes:{'url':'${m1.url}'}|">新增商品</li>
	         	</ul>
         	</li>
         </ul>
    </div>
    <div data-options="region:'center',title:''">
    	<div id="tabs" class="easyui-tabs">
		    <div title="首页" style="padding:20px;">

		    </div>
		</div>
    </div>

    <script th:src="@{/js/jquery-easyui-1.4.1/jquery.min.js}"></script>
    <script th:src="@{/js/jquery-easyui-1.4.1/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/jquery-easyui-1.4.1/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script>
    $(function(){
        $('#menu').tree({
            onClick: function(node){
                if($('#menu').tree("isLeaf",node.target)){
                    var tabs = $("#tabs");
                    var tab = tabs.tabs("getTab",node.text);
                    if(tab){
                        tabs.tabs("select",node.text);
                    }else{
                        tabs.tabs('add',{
                            title:node.text,
                            href: node.attributes.url,
                            closable:true,
                            bodyCls:"content"
                        });
                    }
                }
            }
        });
    });

    /**
     * 显示登陆用户名
     */
    $(function() {
        $.ajax({
            url: '/login_showName',
            dataType: 'json',
            type: 'post',
            success: function (rtn) {
                //判断是否存在登陆用户
                //访问json的key值方式有两种.
                //对象.
                //对象[key]
                //JSON 对象 {"success":true,"message":'超级管理员'}
                if (rtn.success) {
                    $('#username').html(rtn['message']);
                } else {
                    location.href = "/admin/login";
                }
            }
        });
    })

    //退出
    $('#loginOut').bind('click',function(){
        $.ajax({
            url: '/admin/logout',
            success:function(rtn){
                if(rtn*0==0){
                    location.href="/admin/login";
                }
            }
        });
    });
    </script>
</body>
</html>