<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Cache-Control" content="max-age=300" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title th:text="${query}+'- 商品搜索 - 淘淘'"></title>
	<meta name="Keywords" content="java,淘淘java" />
	<meta name="description" content="在淘淘中找到了29910件java的类似商品，其中包含了“图书”，“电子书”，“教育音像”，“骑行运动”等类型的java的商品。" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" media="all" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/psearch20131008.css}" media="all" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/psearch.onebox.css}" media="all" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/pop_compare.css}" media="all" />
	<script type="text/javascript" th:src="@{/js/jquery-1.6.4.js}"></script>
</head>
<body>
<script type="text/javascript" th:src="@{/js/base-2011.js}" charset="utf-8"></script>
<!-- header start -->
<div th:include="header :: html" xmlns:th="http://www.thymeleaf.org"></div>
<!-- header end -->
<div class="w main">
	<div class="crumb">全部结果&nbsp;&gt;&nbsp;<strong th:text="${query}"></strong></div>
	<div class="clr"></div>
	<div class="m clearfix" id="bottom_pager">
		<div  id="pagin-btm" class="pagin fr" clstag="search|keycount|search|pre-page2">
			<span class="prev-disabled">上一页<b></b></span>
			<a href="javascript:void(0)" class="current">1</a>
			<a th:href="'search?q='+${query}+'&page=2'">2</a>
			<a th:href="'search?q='+${query}+'&page=3'">3</a>
			<a th:href="'search?q='+${query}+'&page=4'">4</a>
			<a th:href="'search?q='+${query}+'&page=5'">5</a>
			<a th:href="'search?q='+${query}+'&page=6'">6</a>
			<span class="text">…</span>
			<a th:href="'search?q='+${query}+'&page=2'" class="next">下一页<b></b></a>
			<span class="page-skip"><em th:text="'&nbsp;&nbsp;共'+${totalPages}+'页&nbsp;&nbsp;&nbsp;&nbsp;到第'"></em></span>
		</div>
	</div>
	<div class="m psearch " id="plist">
		<ul class="list-h clearfix" tpl="2">
			<!--/*@thymesVar id="itemList" type=""*/-->
			<li class="item-book" bookid="11078102" th:each="item,iterStat : ${itemList}">
				<div class="p-img">
					<a target="_blank" th:href="'http://localhost:8080/item/'+${item.id }">
						<img th:src="${item.images[0]}" width="160" height="160" data-img="1"/>
					</a>
				</div>
				<div class="p-name">
					<a target="_blank" th:href="'http://localhost:8080/item/'+${item.id }" th:utext="${item.title}">
					</a>
				</div>
				<div class="p-price">
					<i>淘淘价：</i>
					<strong>￥<span th:text="${item.price/ 100 }"></span></strong>
				</div>
				<div class="service">由 淘淘 发货</div>
				<div class="extra">
					<span class="star"><span class="star-white"><span class="star-yellow h5">&nbsp;</span></span></span>
				</div>
			</li>
		</ul></div>
</div>
<!-- footer start -->
<div th:include="footer.html :: html" xmlns:th="http://www.thymeleaf.org"></div>
<!-- footer end -->
<script type="text/javascript" th:src="@{/js/jquery.hashchange.js}"></script>
<script type="text/javascript" th:src="@{/js/search_main.js}"></script>
<script type="text/javascript" th:inline="javascript">
    //${paginator.totalPages}
    SEARCH.query = JSON.parse([[${query}]]);
    SEARCH.bottom_page_html(JSON.parse([[${page}]]),JSON.parse([[${totalPages}]]),'');
</script>
</body>
</html>